html {
    font-size: 24px;
}

input,
select {
    border :  1px solid lightgrey;
    /* padding : 0 5px; */
    background-color: white;
    width : 100%;
}

#cm-message {
    position: fixed;
    top : 0;
    left : 0;
    width : 100vw;
    height : 100vh;
    display: none;
}

#cm-message > * {
    margin : auto;
    width : 0;
    visibility: hidden;
    transition: opacity .4s, visibility 1.2s linear .4s;
}

#cm-message.cm-ok,
#cm-message.cm-error {
    display : flex;
}

#cm-message.cm-ok .cm-ok{
    width : 100vw;
    visibility: visible;
}

#cm-message.cm-error .cm-error{
    width : 100vw;
    visibility: visible;
}

body #header .cm-control .cm-home {
    /*visibility : visible;
    width : auto;*/
}

body #header .cm-control .cm-check {
    position: absolute;
    top: -9999px;
    left: -9999px;
    /*visibility : hidden;
    width : 0;*/
}

body.cm-edit #header .cm-control .cm-home {
    position: absolute;
    top: -9999px;
    left: -9999px;
    /*visibility : hidden;
    width : 0;*/
}

body.cm-edit #header .cm-control .cm-check {
    position: static;
    top: auto;
    left: auto;
    /*visibility : visible;
    width : auto;*/
}

body.cm-edit #main .cm-tpl-edit,
body.cm-edit #power .cm-power,
body.cm-edit #power .cm-reload {
    color : rgb(209, 213, 219);
}

.cm-pic .cm-on.disable,
.cm-video .cm-on.disable {
    color : red;
}